@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.header {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(0, 0%, 100%);
  padding: 20px 10px;
}
.header .btn {
  display: none;
}
@media (min-width: 768px) {
  .header .btn {
    background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 140px;
    height: 10px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
  }
}
.header .btn-nav {
  cursor: pointer;
}
@media (min-width: 768px) {
  .header .btn-nav {
    display: none;
  }
}
.header .nav {
  position: absolute;
  bottom: 500px;
  width: 95%;
  margin: auto;
  background-color: hsl(0, 0%, 100%);
  border-radius: 8px;
  padding: 30px 0px;
  transition: all 0.4s ease-in-out;
}
.header .nav.active {
  bottom: -280px;
}
.header .nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.header .nav ul li {
  margin-bottom: 20px;
}
.header .nav ul li a {
  color: hsl(233, 26%, 24%);
}
@media (min-width: 768px) {
  .header .nav {
    display: flex;
    position: static;
    padding: 0;
    align-items: center;
    justify-content: space-around;
    width: 90%;
  }
  .header .nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 40%;
  }
  .header .nav ul li {
    margin-bottom: 0;
  }
  .header .nav ul li a {
    font-size: 0.9375rem;
    margin-right: 25px;
    color: #9f9f9f;
    position: relative;
    transition: all 0.3s;
  }
  .header .nav ul li a::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    background-color: hsl(136, 65%, 51%);
    width: 100%;
    height: 0px;
    transition: all 0.3s;
  }
  .header .nav ul li a:hover {
    color: black;
  }
  .header .nav ul li a:hover::after {
    height: 2px;
  }
}
@media (min-width: 768px) {
  .header {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .header .btn {
    padding: 15px;
  }
}
@media (min-width: 1440px) {
  .header .btn {
    padding: 20px;
  }
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: inherit;
}

.pos-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

@media (min-width: 768px) {
  .btn {
    background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 120px;
    height: 10px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
.btn:hover {
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #000;
  opacity: 0.5;
  display: none;
}
.overlay.active {
  display: block;
}

.row {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .row {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .row {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .row {
    flex-direction: row;
    align-items: center;
  }
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
}

main {
  margin-top: 70px;
}

@media (min-width: 768px) {
  .generation {
    min-height: 100vh;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .generation {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .generation {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1440px) {
  .generation {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.generation .aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.generation .aside .headding {
  font-weight: 300;
  line-height: 1.3;
  font-size: 2.1875rem;
  margin-bottom: 10px;
  text-align: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .generation .aside .headding {
    font-size: 2.8125rem;
    text-align: left;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .generation .aside .headding {
    font-size: 2.8125rem;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .generation .aside .headding {
    font-size: 3.4375rem;
    text-align: left;
  }
}
.generation .aside p {
  color: #9f9f9f;
  font-size: 0.8rem;
  font-weight: 200;
  max-width: 95%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .generation .aside p {
    font-size: 1.25rem;
    max-width: 80%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .generation .aside p {
    font-size: 1.125rem;
    margin-bottom: 20px;
    text-align: left;
    max-width: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .generation .aside p {
    font-size: 1.125rem;
    margin-bottom: 20px;
    text-align: left;
    max-width: 90%;
    margin-right: 10%;
  }
}
@media (min-width: 1440px) {
  .generation .aside p {
    font-size: 1.875rem;
    max-width: 90%;
    margin-right: 10%;
    margin-bottom: 20px;
    text-align: left;
    max-width: 100%;
  }
}
.generation .aside .btn {
  padding: 15px;
  margin-bottom: 20px;
  margin-bottom: 20px;
  background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  width: 140px;
  height: 5px;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 768px) {
  .generation .aside .btn {
    background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 140px;
    height: 5px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .generation .aside .btn {
    text-align: left;
    align-self: flex-start;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .generation .aside .btn {
    text-align: left;
    align-self: flex-start;
  }
}
@media (min-width: 1440px) {
  .generation .aside .btn {
    text-align: left;
    align-self: flex-start;
  }
}
.generation .article {
  width: 100%;
  height: 50%;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  background-image: url(/images/bg-intro-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.generation .article img {
  position: relative;
  top: -100px;
  max-width: 95%;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .generation .article {
    background-image: url(/images/bg-intro-desktop.svg);
  }
  .generation .article img {
    top: -20px;
    max-width: 100%;
    z-index: 4;
  }
}

.easybank {
  background-color: hsl(220, 16%, 96%);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  .easybank {
    background-color: hsl(220, 16%, 96%);
    margin-top: -120px;
    position: relative;
    z-index: 3;
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .easybank {
    min-height: 100vh;
    background-color: hsl(220, 16%, 96%);
    margin-top: -110px;
    position: relative;
    z-index: 3;
  }
  .easybank .col-md-6 {
    width: 50%;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .easybank .col-lg-3 {
    width: 25%;
  }
}
@media (min-width: 1440px) {
  .easybank .col-lg-3 {
    width: 25%;
  }
}
.easybank h1 {
  font-weight: 300;
  max-width: 80%;
  margin: auto;
  margin-bottom: 20px;
}
@media (min-width: 1440px) {
  .easybank h1 {
    max-width: 100%;
    margin-left: 20%;
    text-align: left;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .easybank h1 {
    max-width: 100%;
    margin: 0;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .easybank .p {
    max-width: 50% !important;
    margin-left: 20% !important;
    text-align: left;
    line-height: 1.3;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .easybank .p {
    max-width: 50% !important;
    margin: 0;
    text-align: left;
    line-height: 1.3;
  }
}
.easybank .row {
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .easybank .row {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.easybank p {
  color: #9f9f9f;
  font-size: 0.8rem;
  font-weight: 200;
  max-width: 95%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.cart {
  padding: 10px;
}
.cart .content-img {
  max-height: 260px;
}
.cart .cur {
  background-image: url(/images/image-currency.jpg) !important;
  height: 260px;
  background-repeat: no-repeat;
  max-width: 100%;
  background-size: cover;
}
.cart .cor {
  height: 260px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/image-confetti.jpg) !important;
}
.cart .plan {
  background-repeat: no-repeat;
  background-size: cover;
  height: 260px;
  max-width: 100%;
  background-image: url(/images/image-plane.jpg) !important;
}
.cart .mod {
  height: 260px;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/images/image-restaurant.jpg) !important;
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .cart p {
    margin-right: 5%;
    text-align: left;
    font-size: 1rem;
  }
}
.cart .icons {
  margin-bottom: 20px;
}
.cart h3 {
  font-weight: 200;
  margin-bottom: 20px;
}
.cart p {
  color: #9f9f9f;
  line-height: 1.4;
}

.erticles {
  padding-top: 80px;
  background-color: hsl(0, 0%, 98%);
  min-height: 100vh;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .erticles {
    padding-left: 50px;
    padding-right: 50px;
  }
}
.erticles .hedd h1 {
  text-align: left !important;
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .erticles {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  .erticles .cur {
    background-image: url(/images/image-currency.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .erticles .cor {
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/images/image-confetti.jpg) !important;
  }
  .erticles .plan {
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/images/image-plane.jpg) !important;
  }
  .erticles .mod {
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(/images/image-restaurant.jpg) !important;
  }
}
@media (min-width: 1440px) {
  .erticles {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
  }
  .erticles .cur {
    background-image: url(/images/image-currency.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
  }
  .erticles .cor {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(/images/image-confetti.jpg) !important;
  }
  .erticles .plan {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(/images/image-plane.jpg) !important;
  }
  .erticles .mod {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    background-image: url(/images/image-restaurant.jpg) !important;
  }
}
.erticles .hedd h1 {
  text-align: center;
  font-weight: 200;
  margin-bottom: 30px;
}
.erticles .row {
  flex-direction: column;
}
@media (min-width: 768px) {
  .erticles .row {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: end;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .erticles .row {
    flex-wrap: nowrap;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .erticles .row {
    min-height: 100vh;
    margin-top: -110px;
    position: relative;
    z-index: 3;
    justify-content: flex-start;
  }
  .erticles .row .cart {
    margin-bottom: 0;
  }
  .erticles .row .col-md-5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .erticles .row {
    gap: 10px;
    justify-content: flex-start;
    align-items: inherit;
  }
  .erticles .row .col-lg-3 {
    width: 25%;
  }
  .erticles .row .cart {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .erticles .row .col-lg-3 {
    width: 25%;
  }
  .erticles .row .cart {
    margin-bottom: 10px;
  }
}
.erticles .cart {
  margin-bottom: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
  background-color: hsl(0, 0%, 100%);
  padding: 0;
}
.erticles .cart .content {
  padding: 10px;
}
.erticles .cart img {
  max-width: 100%;
}
.erticles .cart h3 {
  font-size: 0.8125rem;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  color: #9f9f9f;
}
.erticles .cart h2 {
  font-weight: 300;
  font-size: 1.0625rem;
}
.erticles .cart p {
  font-size: 0.8125rem;
  text-align: left;
  margin-bottom: 15px;
  margin-top: 10px;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.125rem;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  list-style: none;
  box-sizing: border-box;
}

*::after, *::before {
  box-sizing: inherit;
}

.pos-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

@media (min-width: 768px) {
  .btn {
    background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    width: 120px;
    height: 10px;
    border-radius: 25px;
    color: hsl(0, 0%, 100%);
    text-align: center;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
}
.btn:hover {
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: #000;
  opacity: 0.5;
  display: none;
}
.overlay.active {
  display: block;
}

.row {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 768px) {
  .row {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .row {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  .row {
    flex-direction: row;
    align-items: center;
  }
}
@media (min-width: 1440px) {
  .row {
    flex-direction: row;
    align-items: center;
  }
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

footer {
  background-color: hsl(233, 26%, 24%);
  padding-top: 50px;
  padding-bottom: 40px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  footer {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  footer {
    padding-left: 50px;
    padding-right: 50px;
  }
  footer .not img {
    margin-top: 40px;
  }
}
@media (min-width: 1440px) {
  footer {
    padding-left: 50px;
    padding-right: 50px;
  }
  footer .not img {
    margin-top: 40px;
  }
}
footer .row {
  text-align: center;
  flex-direction: column;
}
footer .row .col-md-6 {
  width: 50%;
}
@media (min-width: 768px) {
  footer .row {
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  footer .row {
    padding-left: 50px;
    padding-right: 50px;
  }
  footer .row .col-lg-3 {
    width: 25%;
  }
}
@media (min-width: 1200px) and (max-width: 1339px) {
  footer .row {
    padding-left: 50px;
    padding-right: 50px;
  }
  footer .row .col-lg-3 {
    width: 25%;
  }
}
@media (min-width: 1440px) {
  footer .row {
    padding-left: 50px;
    padding-right: 50px;
  }
  footer .row .col-lg-3 {
    width: 25%;
  }
}
footer .row a {
  display: block;
  color: hsl(0, 0%, 100%);
}
footer .row a img {
  margin-bottom: 20px;
}
footer .row ul li {
  margin-bottom: 20px;
}
footer .row .not {
  margin-bottom: 20px;
}
footer .row .not img {
  margin-right: 10px;
}
footer .row .btn {
  background: linear-gradient(hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  width: 180px;
  height: 5px;
  border-radius: 25px;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 40px;
  margin: auto;
  margin-bottom: 10px;
}
footer .row p {
  color: #767474;
  font-size: 0.875rem;
}/*# sourceMappingURL=style.css.map */